body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  height: 100vh;
  /* display: flex; */
  /* justify-content: space-between; Add space between the two image containers */
}

.image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:48%;
  margin: 0;
}

.image-wrapper {
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start; /* Align images to the top of the container */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top:calc();
  margin-bottom: auto;
}

.image-wrapper:first-child img {
  margin-bottom: auto;
}

.image-wrapper:last-child img {
  margin-top: auto;
}
  .right {
    justify-content: flex-end;
  }
